section{
    background-color: purple;
}
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 150px);
    grid-template-areas: 
    "a a "
    "a a"
    "b c"
    "b c"
    "d c"
    "d c"
    "d c"
    "e e";
    gap: 15px;
}

section:nth-of-type(1){
    grid-area: a;
}
section:nth-of-type(2){
    grid-area: b;
}
section:nth-of-type(3){
    grid-area: c;
}
section:nth-of-type(4){
    grid-area: d;
}
section:nth-of-type(5){
    grid-area: e;
}